:root {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  padding: 0px 50px 0px 50px;
  background-color: rgb(226, 247, 255);
}

/* .projectbugswrapper{
  display:flex;
  justify-content: space-around;
  
}
.wrapper{
  display:flex;
  flex-direction: column;
  min-width: 45%;
} */

.detaildiv {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

/* display: 'flex',
      minWidth: '100%',
      justifyContent: 'space-between',
      marginBottom: '1.5em', */
.detailpaper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1.5em;
  /* min-height: calc(100vH - 244px); */
}
.projectpaper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em 0;
  padding: 1.5em;
  /* min-height: calc(100vH - 244px); */
}

.jss17 {
  display: flex;
  padding: 0.8em 1.5em;
  align-items: center;
  margin-bottom: 1em;
}

.addproject {
  display: flex;
  width: 120px;
  align-items: center;
  margin: 2em 0;
  background-color: #19add2;
}

.mainrow {
  background-color: #19add2;
}

.mainbugrow {
  background-color: #d23e19bd;
}

.project-bar {
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  /* background-color: #328f8a; */
}

.bug-bar {
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  background-color: gold;
}

.project-bar div {
  display: inline-block;
}

select{
  
  margin:10%;
  width: 73%;
  padding: 12px 20px; 
  border: none;
  background-color: rgb(176, 225, 247);
 
  
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.statusdiv {
  color: rgb(0, 128, 0);
  background-color: rgb(226, 255, 226);
  border-radius: 4px;
  font-weight: 500;
  padding: 0.2em 0.4em;
  max-width: 5em;
  display: inline;
}

.projectdescp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
}

.membersacc {
  max-width: 30em;
}

.addForm{
  margin: 5% 20%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  /* background-color: #19add2; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.save-btn {
  padding: 10px 20px;
  width: 23%;
  background-color: rgb(55, 170, 219);
  
}

input{
  width: 73%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  background-color: rgb(176, 225, 247);
 
  border: none;
    border-bottom: 2px solid rgb(55, 170, 219);
}
input:focus {
  width: 100%;
}

.projecttablebody {
  background-color: rgb(226, 247, 255);
}

.bugtablebody {
  background-color: rgb(255, 226, 226);
}

.navbar {
  margin-bottom: 10px;
}
