.navbar {
  width: 100%;
  height: 60px;
  background-color: aqua;
  display: flex;
  justify-content: left;
}

.navbar-username {
  display: inline-block;
  margin: 5px;
  font-size: larger;
}

.navbar-button {
  height: 40px;
  margin: 5px;
}

.project-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.project-bar div {
  display: inline-block;
}
